.employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 30px auto 0 auto;
}

.employee-list ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.employee-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 10px;
}

.employee-list a {
  text-decoration: none;
  color: #0077cc;
  font-weight: 600;
}

.employee-list a:hover {
  text-decoration: underline;
}
